.analytics-root {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.analytics-evalbar {
    position: relative;
    left: 5.4%;
    margin-top: 5.9%;
    transition: height 1.4s ease;
}

.analytics-board-container {
    height: 640px;
    width: 640px;
    margin-top: 1.5%;
    flex-shrink: 0;
    position: relative;
    background: transparent;
}

.analytics-board-hidden {
    display: none;
}

.analytics-board-header,
.analytics-board-footer {
    color: WHITE;
    font-size: 1.5rem;
    display: flex;
}

.analytics-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.analytics-loading-text {
    color: white;
    font-size: 1.5rem;
}

.analytics-icon-container {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    pointer-events: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.analytics-move-icon-svg {
    fill: #fff;
}
.boardpluseval{
    display: flex;
    gap: 6.1%;
    margin-left: -20%;
}
.boardplusside{
    display: flex;
    gap: 20%;
}









@media (max-width: 768px){


.analytics-board-container {
    height: 320px;
    width: 320px;
    margin-top: 15.5%;
    flex-shrink: 0;
    position: relative;
    background: transparent;
}

.analytics-board-hidden {
    display: none;
}

.analytics-board-header,
.analytics-board-footer {
    color: WHITE;
    font-size: 1rem;
    display: flex;
}

.analytics-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.analytics-loading-text {
    color: white;
    font-size: 1.5rem;
}

.analytics-icon-container {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    pointer-events: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.analytics-move-icon-svg {
    fill: #fff;
}
.boardpluseval{
    display: flex;
    gap: 6.1%;
    margin-left: -4%;
    margin-top: 5%;
}
.analytics-evalbar {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 5.4%;
    margin-top: 20.2%;
    transition: height 1.4s ease;
}
.boardplusside{
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-left: 2.5%;
}
.gamebox{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100000000000;
    background-color: black;

}
}
